@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(27.63% 0.068 262.87);

  --card: oklch(96% 0.01 240);
  --card-foreground: oklch(27.63% 0.068 262.87);

  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(27.63% 0.068 262.87);

  --primary: oklch(54.5% 0.185 350);
  --primary-foreground: oklch(97.2% 0.01 230);

  --secondary: oklch(70.5% 0.195 30); /* #FF4C0B  */
  --secondary-foreground: oklch(31.7% 0.048 262.87);

  --muted: oklch(95.9% 0.01 230);
  --muted-foreground: oklch(51.6% 0.024 247.23);

  --accent: oklch(95.9% 0.01 230);
  --accent-foreground: oklch(31.7% 0.048 262.87);

  --destructive: oklch(63.4% 0.195 29.23);
  --destructive-foreground: oklch(97.2% 0.01 230);

  --border: oklch(89.5% 0.015 240);
  --input: oklch(90.8% 0.028 238.15);
  --ring: oklch(27.63% 0.068 262.87);

  --radius: 0.2rem;

  --success: oklch(74% 0.078 196);
  --warning: oklch(85% 0.157 89);
  --error: oklch(86% 0.145 29.23);

  --tw-prose-body: var(--text);
  --tw-prose-headings: var(--text);
}

@theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html {
  opacity: 0;
}

/* 
  This selector targets HTML elements with either a 'dark' or 'light' data-theme attribute
  We set the opacity back to its initial value (1) once the theme is set
  This prevents a flash of unstyled content (FOUC) during theme initialization
  Works in conjunction with the "html { opacity: 0 }" rule above
*/

html[data-theme='light'] {
  opacity: initial;
}

/*
  ---break---
*/

@layer base {
  /* Fix pour la couleur de bordure par défaut dans Tailwind v4 */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }

  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground;
    font-family: var(--font-inter);
  }

  /* Reset des titres */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }
}

@layer utilities {
  .prose {
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.25em;

      @media (min-width: 768px) {
        font-size: 3.5rem;
      }
    }

    h2 {
      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
  /* Animations */
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }

  /* Utilitaires de grille */
  .lg\:col-span-4 {
    @apply lg:col-span-4;
  }
  .lg\:col-span-6 {
    @apply lg:col-span-6;
  }
  .lg\:col-span-8 {
    @apply lg:col-span-8;
  }
  .lg\:col-span-12 {
    @apply lg:col-span-12;
  }

  .border-border {
    border-color: var(--color-border);
  }
  .bg-card {
    background-color: var(--color-card);
  }
  .border-error {
    border-color: var(--color-error);
  }
  .bg-error\/30 {
    background-color: hsl(var(--error) / 0.3);
  }
  .border-success {
    border-color: var(--color-success);
  }
  .bg-success\/30 {
    background-color: hsl(var(--success) / 0.3);
  }
  .border-warning {
    border-color: var(--color-warning);
  }
  .bg-warning\/30 {
    background-color: hsl(var(--warning) / 0.3);
  }
}
@utility container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @variant sm {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @variant md {
    max-width: 48rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @variant lg {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 64rem;
  }
  @variant xl {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
  }
  @variant 2xl {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 86rem;
  }
}
